.sidebar {
  width: 60px;
  background: transparent;
  border-right: 1px solid #4a4a4a;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.sidebar .bottom {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.header-wrapper .props .logo {
  width: 59px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-wrapper .props .logo img {
  width: 50px;
  height: 50px;
}

.sidebar-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  font-size: 20px;
  cursor: pointer;
  color: #d1d1d1;
  transition: background 0.2s ease-in-out;
}

.sidebar-item:hover,
.sidebar-item.active {
  background: #2a292a;
  color: #ffffff;
  border-radius: 8px;
}

.editor-container {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.editor-container.fade-out {
  opacity: 0;
}

.editor-container.fade-in {
  opacity: 1;
}

.print-output-decoration {
  color: #ffa500;
  font-style: italic;
  margin-left: 10px;
}
