.header-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  height: 40px;
  min-height: 40px;
  max-height: 40px;
  background: #2b2b2b;
  justify-content: space-between;
  color: #ffffff;
  border-bottom: 1px solid #554747;
  -webkit-app-region: drag;
}

.header-wrapper .props {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-wrapper .props button {
  -webkit-app-region: no-drag;
  background: transparent;
  margin-right: 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.header-wrapper .props button:hover {
  -webkit-app-region: no-drag;
  background: #37373c;
}

.menu-wrapper * {
  -webkit-app-region: no-drag;
}

.menu-item {
  position: relative;
  border-radius: 6px;
  cursor: pointer;
}

.menu-item-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 2px;
  border-radius: 4px;
}

.menu-item-text:hover {
  background: #37373c;
}

.submenu {
  position: absolute;
  left: 0%;
  top: 100%;
  background: #1e1e1e;
  border-radius: 6px;
  padding: 4px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  min-width: 32vh;
  z-index: 1000;
}

.separator {
  border-bottom: 1px solid #494848;
  margin: 4px 0;
}

.submenu-item {
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 4px 0;
}

.submenu-item:hover {
  background: #37373c;
}

.project-info {
  display: flex;
  align-items: center;
  gap: 12px;
}

.project-info {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background 0.2s;
}

.project-info:hover {
  background: #37373c;
}

.controls {
  background: transparent;
  width: auto;
  display: flex;
  align-items: center;
  gap: 8px;
}

.controls .window-controls {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 12px;
}

.controls .run-tool {
  margin-right: 120px;
  color: var(--blue);
  fill: var(--blue);
}

.controls .window-controls button:last-child:hover {
  background: red;
}

.controls .window-controls button svg {
  width: 24px;
  height: auto;
}

.controls button {
  -webkit-app-region: no-drag;
  background: transparent;
  border: none;
  border-radius: 6px;
  font-size: 20px;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

.controls button:hover {
  background: #37373c;
}
